.container {
  display: flex;
  align-items: center;
}

.description {
  display: inline-flex;
  flex-flow: column nowrap;
  font-size: var(--csdemo-daily-forecast-description-font-size);
  font-weight: var(--csdemo-daily-forecast-description-font-weight);
  padding-left: var(--csdemo-daily-forecast-description-padding-left);
  padding-right: var(--csdemo-daily-forecast-description-padding-right);
  padding-top: var(--csdemo-daily-forecast-description-padding-top);
  padding-bottom: var(--csdemo-daily-forecast-description-padding-bottom);
  min-width: var(--csdemo-daily-forecast-description-min-width);
}

.description .date {
  font-size: var(--csdemo-daily-forecast-date-font-size);
  font-weight: var(--csdemo-daily-forecast-date-font-weight);
}

.icon {
  flex: 1 0 auto;
}

.icon img {
  height: var(--csdemo-daily-forecast-image-height);
}

.temperature-group {
  display: inline-flex;
  flex-flow: column;
  width: 100%;
}

.temperature-item {
  align-items: center;
  display: inline-flex;
  flex: 1 0 auto;
  width: 100%;
}

.temperature-group .label {
  flex: 1 0 auto;
}
